{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Add your task</h3>
        <form action="add_to_do/" method="POST">
            <input class="input" type="text" placeholder="Type here..." required name="content">
            <button class="button" type="submit" style="margin-left: 1.5cm;"> Submmit</button>
        </form>

        
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="list-group" style="margin-top: .5cm;">
            <form action="delete_all/" method="POST">
                <button class="button_del" type="submit"> Delete</button>
            </form>
            {% for item in todo_items %}
                <li class="list-group-item" style="width: 50%;">{{item.text}}</li>
            {% endfor %}
          </div>
    </div>
</div>


{% endblock content %}