body {
    background: #cecece;
}

.navbar-custom {
    background: #baadf1;
    height: 100px;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(0, 0, 0, 0.8);
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;
    
}
