
.color-me{
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    color:rgb(0, 0, 0);
    
}

.myhead{
    background-color: rgba(180, 180, 180, 0.616);
    opacity: 1.0;
    border-bottom: double;
    border-top: double;
    border-color: rgb(107, 107, 107);
    border-width: 1px;
}

.input[type=text] {
    border: none;
    border-bottom: 2px solid rgba(124, 81, 2, 0.164);
    width: 30%;
    font-size: 20px;
  }

.button {
    background-color: rgba(194, 194, 194, 0.158); 
    border: 1px solid black;
    border-radius: 10px;
    color:black;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
  }

  .button:hover {
    background-color: rgba(196, 185, 31, 0.26);
    color: black;
  }

.button_del {
    background-color: rgba(245, 61, 61, 0.925); 
    border: 1px solid rgb(165, 144, 144);
    border-radius: 10px;
    color:white;
    font-weight: 700;
    padding: 7px 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
  }

.button_del:hover {
    background-color: rgba(238, 63, 51, 0.26);
    color: black;
  }

.lista{
  color: black;
  font-weight: 700;
}

.lista:hover{
  color: black;
  font-weight: 700;
}

.uncomp{
  text-decoration: line-through
}


